@define-color bg #0b0b0b;
@define-color fg #EAEAEA;
@define-color accent #BBBBBB;
@define-color inactive #777777;
@define-color urgent #FFFFFF;
@define-color dark-text #0B0B0B;

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: alpha(@bg, 0); 
    color: @fg;
}

/* --- Estilo base para todos os módulos --- */
#clock,
#battery,
#cpu,
#memory,
#disk,
#pulseaudio,
#custom,
#network,
#modules-right,
#tray,
#language {
    background: transparent; 
    color: @accent;
    padding: 0 10px; 
}


/* --- Workspaces --- */
#workspaces button {
    padding: 0 8px;
    color: @inactive;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: @accent;
}

#workspaces button.active {
    color: @dark-text;
    background-color: @accent;
}

#workspaces button.urgent {
    color: @dark-text;
    background-color: @urgent;
}

#clock {
    color: @accent; 
}

#battery.charging,
#battery.plugged {
    color: @accent;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @dark-text;
    }
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @urgent;
}

#pulseaudio.muted {
    color: @inactive;
}
