@define-color bg #0b0b0b;
@define-color fg #EAEAEA;
@define-color accent #BBBBBB;
@define-color inactive #777777;
@define-color urgent #FFFFFF;
@define-color dark-text #0B0B0B;

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: alpha(@bg, 0); 
    color: @fg;
}

#tags {
  background: rgba(10, 10, 10, 0.76);

}

#tags button {
  border: none;
  transition-duration: 0.3s;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ccc;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#tags button {
  color: #ccc;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#tags button.occupied {
  color: #ccc;
}

#tags button.overview {
  color: #ccc;
}

#tags button:hover {
  color: #aaa;
}

#tags button.focused {
  background-color: #ccc;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}


/* --- Estilo base para todos os módulos --- */
#clock,
#battery,
#cpu,
#memory,
#disk,
#language,
#custom-updates,
#custom-weather,
#window,
#taskbar,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#cpu,
#temperature,
#backlight,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#custom-notification,
#pulseaudio,
#custom,
#network,
#modules-right,
#tray,
#language {
    background: transparent; 
    color: @accent;
    padding: 0 10px; 
}
#tags {
    background: transparent;
    color: @accent;
}


/* --- Workspaces --- */
#workspaces button {
    padding: 0 8px;
    color: @inactive;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: @accent;
}

#workspaces button.active {
    color: @dark-text;
    background-color: @accent;
}

#workspaces button.urgent {
    color: @dark-text;
    background-color: @urgent;
}

#clock {
    color: @accent; 
}

#battery.charging,
#battery.plugged {
    color: @accent;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @dark-text;
    }
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @urgent;
}

#pulseaudio.muted {
    color: @inactive;
}
